*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
    box-sizing: border-box;
}
.container{
    /* background-image: url(images/png/hero_1.png); */
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(rgba(9, 9, 11, 0.65),rgba(9,9,11,0.65)), url(images/png/hero_1.png);
    
    background-size: cover;
    background-position: center;
    padding: 10px 8px;


}
.container .content{
  margin: auto;
  margin-top: 35vh;
}
nav{
    position:fixed;
border: 2px solid rgb(249, 1, 178);
    
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    z-index: index 1;
    transition: 0.6s;
    
}

nav h1{
    font-size: 30px;
    padding-left: 150px;
border: 2px solid rgb(128, 17, 0);
    
    /* width: 180px; */
    cursor: pointer;
    color: rgb(255, 255, 255);
}
nav ul{
    list-style: none;
    width: 100%;
    text-align: right;
    padding-right: 0px;
border: 2px solid blue;

}

nav ul li{
  /* color: #6534e0; */
border: 2px solid green;
    display: inline-block;
    margin: 10px 20px; 
}
/* nav ul li a{
    color: #fff;
    text-decoration: none;
} */
.content{

    color: #fff;
    max-width: 680px;

    height: 250px;
    text-align: center;
    
}
.content h1{
    font-size: 45px;
    font-weight: 800;
    line-height: 60px;
    margin-bottom: 25px;
}
.btn a{
  text-decoration: none;
  color: #fff;
}
.about-btn a{
  text-decoration: none;
  color: #fff;
}
.btn{
    margin: 250px ;
    background-color:rgb(79, 79, 235);
    padding: 15px 30px;
    margin-top: 20px;
    border-radius: 40px;
    border: 0px;
    font-size: 15px;
    color: #fff;
}

/* MENU BAR*/
.menu-bar{
  margin: -9px;
  background: rgb(255, 255, 255);
  text-align: right;
  position:fixed;
  width: 100%;
  justify-content: space-between;
  z-index: 1;
}
.title a{
  text-decoration: none;
  color:blue;
}
.btn:hover{
  background: #000;
  cursor: pointer;
}
.menu-bar ul{
  display: inline-flex;
  list-style: none;
  color: #fff;
  margin-right: 200px;
}
.title{
  display: inline-block;
  margin-right: 200px;
  
}
.title h1{
  color: blue;
  font-weight: 900;
}
.menu-bar ul li a{
  color: rgb(0, 0, 0);
  text-decoration: none;
 
}
.menu-bar ul li{
  
  /* width: 120px; */
  /* margin: 15px; */
  padding: 15px;
}
.menu-bar ul li :hover{
  color: #8c9daf;
}
.angle i{
  float: right;
  color: #000;
font-size: 15px;
margin-top: 2px;
}
.hover-me i{
  float: right;
  font-size: 15px ;
  color: #000;
  margin-top: 2px  ;
}
.active a{
  /* background: #efefef; */
  color: #0056b3 !important;
  /* border-radius: 3px; */
}
.sub-menu-1{
  display: none;
}

.sub-menu-1 ul li{
margin-left: -9px;
}
.sub-menu-1 ul li:hover{
  /* background-color: #0056b3; */
  
  background: #ededed !important;
}
.menu-bar ul li:hover .sub-menu-1{
  display: block ;
  /* margin-top: 0px; */

  position: absolute;
  background: #ffffff;
  margin-top: 15px;
  
  margin-left: -15px;
}
.menu-bar ul li:hover .sub-menu-1 ul{
  display: block;
  margin: 10px;
  width: 140px;
}
.menu-bar ul li:hover .sub-menu-1 ul li{
  width: 158px;

  padding: 10px;
  background: transparent;
  border-radius: 0;
  text-align: left;
}
/* .menu-bar ul li:hover .sub-menu-1 ul li:first-child{
  border-top: 1px solid green;
} */
.sub-menu-2{
  display: none;
}
.hover-me:hover .sub-menu-2{
  position: absolute;
  display: block;
  margin-top: -28px;
  margin-left: 149px;
  background: #fff;
}




.about-btn{
    
    background-color:rgb(79, 79, 235);
    padding: 15px 30px;
    margin-top: 60px;
    border-radius: 40px;
    border:0px;
    font-size: 15px;
    color: #fff;
}
.about-btn:hover{
  background: #000;
}

.about-heading h1{
  color: #007bff; 
    font-size: 40px; 
    font-weight: 900;
    text-align: center;
    /* color: blue; */
    font-size: 40px;
    margin-top: 100px;
    margin-bottom: 60px;
    padding-top: 100px;
    /* font-weight: 800; */
}
.about-container{
    /* background-color: chartreuse; */
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 80%;
    margin: 65px auto;
}
.about-content h2{
    margin-bottom:20px;
    
}
.about-content p{
    margin-bottom: 10px;
}
.about-content{
    /* background-color: blue; */
    flex: 1;
    width: 50%;
    height: 350px;
    
}
.about-content i{
  color: rgb(1, 182, 1);
  margin-right: 10px;
}
.about-image{
    flex: 1;
    /* margin:500px 0px 500px 0px; */
}
.our-team{
  padding-top: 100px;
    margin: 200px 0px;
    background-color: rgb(239, 248, 255);
}

.team-container h1{
    font-size: 40px;
    text-align: center;
    font-weight: 900;
    color: #007bff; 

    padding-bottom: 10px;
}
.team-container h4{
    text-align: center;

}
.profile{
    margin-top: 50px;
    margin-left: 20px;
    display: inline-block;

}

.team-row{
    text-align: center;
}
.team-img-box::after{
  content: '';
  opacity: 0;
  background-color: rgba(0,0,0,0.6);
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
}
.team-img-box ul{
  margin: 0;
  padding: 20px 0;
  position: absolute;
  z-index: 1;
  bottom: 0;
  display: block;
  left: 10%;
  width: 60px;
  transition: 0.9s;
  top: 0%;
  transform: translateX(-50%);
  opacity: 0;
}
.team-img-box ul li{
  margin-bottom: 20px;
  margin-left: -8px;
  
  font-size: 20px;
  list-style: none;
}
.team-img-box a{
  color: #fff;
}
.team-img-box:hover::after{
  opacity: 1;
}
.team-img-box:hover ul{
  opacity: 1;
  background: #0069d9;
}
.profile .team-img-box{
    /* opacity: 1; */
    display: block;
    position: relative;
}
.profile h2{
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}
.profile h3{
    font-size: 10px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 20px;
}
/* Portfolia*/

/* @import url('https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap');
@font-face {
  font-family: 'icomoon';
  src: url('https://preview.colorlib.com/theme/oneder/fonts/icomoon/fonts/icomoon.eot?10si43');
  src: url('https://preview.colorlib.com/theme/oneder/fonts/icomoon/fonts/icomoon.eot?10si43#iefix') format('embedded-opentype'),
    url('https://preview.colorlib.com/theme/oneder/fonts/icomoon/fonts/icomoon.ttf?10si43') format('truetype'),
    url('https://preview.colorlib.com/theme/oneder/fonts/icomoon/fonts/icomoon.woff?10si43') format('woff'),
    url('https://preview.colorlib.com/theme/oneder/fonts/icomoon/fonts/icomoon.svg?10si43#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
} */
/* body {
  font-family: "Work Sans", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
  line-height: 1.7;
  color: gray;
  font-weight: 400;
} */
/* html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  overflow-x: hidden;
} */
.containerr {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  padding: 100px;
}
#posts{
  margin-top: 50px;
  margin-right: 200px;
  margin-left: 200px;
  margin-bottom: 100px;
}
:selection {
  background: #000;
  color: #fff;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.mb-3 {
  margin-bottom: 1rem !important;
}
.portfolio .justify-content-center {
  justify-content: center !important;
}
/* .mb-5 {
  margin-bottom: 3rem !important;
}
[data-aos="fade-up"] {
  transform: translateY(100px);
}
[data-aos^="fade"][data-aos^="fade"] {
  opacity: 0;
  transition-property: opacity, transform;
}
body[data-aos-duration="800"] [data-aos] {
  transition-duration: 0.8s;
}
[data-aos^="fade"][data-aos^="fade"].aos-animate {
  opacity: 1;
  transform: translate(0);
} */
.portfolio .col-12 {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
.portfolio .col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}
.portfolio .text-center {
  text-align: center;
}
.portfolio .col-md-7 {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
.portfolio .col-md-7 {
  flex: 0 0 58.33333%;
  max-width: 58.33333%;
}
.col-lg-4,
.col-md-4,
.col-sm-6,
.col-xl-3 {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
.col-sm-6 {
  flex: 0 0 50%;
  max-width: 50%;
}
.col-md-4 {
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
}
.col-lg-4 {
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
}
.col-xl-3 {
  flex: 0 0 25%;
  max-width: 25%;
}
.mb-4 {
  margin-bottom: 1.5rem !important;
}
.portfolio .item {
  border: none;
}
.portfolio h2 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  font-size: 2rem;
  font-family: "Work Sans", sans-serif;
}
.portfolio .section-title {
  color: #007bff;
  font-size: 40px;
  font-weight: 900;
}
.portfolio button {
  border-radius: 0;
  margin: 0;
  overflow: visible;
  text-transform: none;

}
.portfolio .btnn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
}
.portfolio .btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}
.portfolio .btnn {
  font-size: 16px;
  border-radius: 30px;
  padding: 10px 30px;
}
.portfolio button:not(:disabled) {
  cursor: pointer;
}
.portfolio .btnn.btnn-primary {
  background: #007bff;
  border-color: #007bff;
  color: #fff;
}
.portfolio .filters .btnn {
  border-color: transparent;
  font-size: 0.8rem;
  padding: 8px 20px;
  margin: 5px;
  background: rgba(52, 58, 64, 0.05);
  color: #343a40;
}
.portfolio .filters .btnn.active {
  background: #007bff !important;
  color: #fff;
  border-color: #007bff !important;
}
.portfolio .btn-primary:not(:disabled):not(.disabled).active {
  color: #fff;
  background-color: #0062cc;
  border-color: #005cbf;
}
.portfolio .btnn:hover {
  color: #212529;
  text-decoration: none;
}
.portfolio .btn-primary:hover {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
}
.portfolio .btnn:hover,
.portfolio .btn:active {
  outline: none;
}
.portfolio .btnn.btn-primary:hover {
  background: #000;
  border-color: #000;
  color: #fff;
}
.portfolio .filters .btnn:hover {
  border-color: transparent;
  background: #007bff;
  color: #fff;
}
.portfolio a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.portfolio .item .item-wrap {
  display: block;
  position: relative;
}
.portfolio .item .item-wrap::after {
  z-index: 2;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 0.3s all ease-in-out;
  -o-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}
.portfolio a:hover {
  color: #0056b3;
  text-decoration: underline;
}
.portfolio a:hover {
  text-decoration: none;
}
.portfolio .item .item-wrap:hover::after {
  opacity: 1;
  visibility: visible;
}
[class^="icon-"] {
  font-family: 'icomoon' !important;
  
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.item .item-wrap > span {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 3;
  -webkit-transform: translate(-50%, -50%) scale(0);
  transform: translate(-50%, -50%) scale(0);
  color: #fff;
  font-size: 1.7rem;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
/* .icon-search2:before {
  content: "\e8b6";
} */
.item .item-wrap:hover span {
  margin-top: 0px;
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1);
}
.portfolio img {
  vertical-align: middle;
  border-style: none;
}
.portfolio .img-fluid {
  max-width: 100%;
  height: auto;
}


/* Our services */
.fa-ser{
  font-size: 40px !important;
}
.our-services{

    text-align: center;
    background-color:aliceblue;
}
#oser img{
  display: inline-block;
}
.service{
    display: inline-block;
    align-items: center;
    text-align: left;
    justify-content: center;
    margin: 20px 20px;
    margin-bottom: 40px;
    max-width: 300px;
    
}

.service p{
    letter-spacing: 1px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.service a{
    text-decoration: none;
    color: blue;
}
.service h2{
  font-size: 25px;
  font-weight: 300;
}

/* testimonials */
.Testimonials{
text-align: center;
margin-top: auto;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:300,400);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);
figure.snip1390 {
    display: inline-block;


  font-family: 'Roboto', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 230px;
  max-width: 315px;
  width: 100%;
  color: #000000;
  text-align: center;
  font-size: 16px;
  background-color: #2C3447;
  padding: 30px;
  background-image: linear-gradient(-25deg, rgba(0, 0, 0, 0.2) 0%, rgba(255, 255, 255, 0.1) 100%);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-left: 20px;
}
figure.snip1390 *,
figure.snip1390 *:before,
figure.snip1390 *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;

}
figure.snip1390 figcaption {
  width: 100%;
}
figure.snip1390 h2,
figure.snip1390 h4,
figure.snip1390 blockquote {
  margin: 0;
}
figure.snip1390 h2,
figure.snip1390 h4 {
  font-weight: 300;
}
figure.snip1390 h2 {
  color: #ffffff;
}
figure.snip1390 h4 {
  color: #a6a6a6;
}
figure.snip1390 blockquote {

  font-size: 1em;
  padding: 45px 20px 40px 50px;
  margin-top: 30px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: inset -1.4px -1.4px 2px rgba(0, 0, 0, 0.3);
  text-align: left;
  position: relative;
}
figure.snip1390 blockquote:before {
  font-family: 'FontAwesome';
  content: "\201C";
  position: absolute;
  font-size: 70px;
  opacity: 0.25;
  font-style: normal;
  top: 0px;
  left: 20px;


}
figure.snip1390 .profile {
    width: 100px;
  border-radius: 50%;
  display: inline-block;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.4);
  margin-bottom: 10px;
  border: solid 5px #A6A57A;
}


@-webkit-keyframes check {
  50% {
    outline-color: #333;
    box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
  }
  100% {
    outline-color: #333;
    box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  }
}

@keyframes check {
  50% {
    outline-color: #333;
    box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
  }
  100% {
    outline-color: #333;
    box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  }
}


/* pricing */
.pricing{
    background-color: aliceblue;
    padding-bottom: 30px;
}
button a{
  text-decoration: none;
  color: #fff;
}
.price-col i{
  color: rgb(1, 182, 1);
  margin-right: 10px;
}
.price-row{
    width: 90%;
    max-width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 25px;

}
.price-col{
    background: white;
    padding: 10% 15%;
    border-radius: 10px;
    color: black;
    text-align: center;
    
}

.price-col h2{
    font-size: 30px;
    padding-top: 15px;
    padding-bottom: 20px;
}
.price-col h3{
    font-size: 44px;
    margin: 20px 0 40px;
    font-weight: 500;
}
.price-col h3 span{
    font-size: 18px;
}
.price-col ul{
    text-align: left;
    margin: 20px 0;
    color: #808080;
    list-style: none;

  width: 300px;
  margin-left: -28px;
  }
  .price-col ul .line{
    text-decoration: line-through;
    color: #e5e4e4;
  }
  .price-col ul li{

  width: 300px;
    margin: 15px 0  ;
}

.price-col button{
    background-color:rgb(79, 79, 235);
    padding: 15px 30px;
    margin-top: 20px;
    border-radius: 40px;
    border:solid rgb(79, 79, 235);
    font-size: 15px;
    color: #fff;
    cursor: pointer;
    transition: background 0.5s;
}
.price-col button:hover{
 background: #6534e0;
 text-decoration:underline;
}
/* contact us */
.contact-us{

    margin: 0px 0px;
    padding: 0px;
    background-color: aliceblue;
}
.contactn{
  text-align: center;
}
.fa .fa-phone{
  color:#005cbf ;
  font-size: 25px;
}
.fa{
  color: #005cbf;
  font-size: 20px;
}
.contact-content{
  display: inline-block;
  margin: 5px 100px 50px;

}
.contact-content p{
  margin-top: 20px;
  margin-bottom: 20px;
  color: #898989;
  
}
.contact-content .blue{
  color: rgb(74, 74, 234);
}

.cform{

    background-color: #fff;
    margin-left: 21em;
    padding-left: 20px;
    padding-top: 30px;
    margin-right: 25em;
    height: 650px;    
}
.input-row{
    margin-top: 20px;
    justify-content: space-between;
    margin-bottom: 20px;
}

.name{
    border-radius: 20px;
    width: 350px;
    height: 40px;
    margin-top: 5px;

}
.input-row input{
  font-size: 15px;
  padding: 10px;
  
}
.mass{
    border-radius: 20px;
    width: 700px;
    height: 40px; 
    margin-top: 5px;
}

#message{
    height: 150px;
}
.input-group{
    display: inline-block;
    margin-top: 15px;
    margin-bottom: 15px;
}
.input-group2{
    margin-top: 15px;
    margin-bottom: 15px;
}

/* FAQS */
.faqs{

  padding-left: 20px;
}
.faqs .col1{
  /* border: 4px solid red; */
  text-align:left;
  margin: 20px;
  /* align-items: center; */
  /* overflow: hidden; */
}
.faqs .row{
  /* border: 4px solid blue; */
  display: inline-block;
  text-align:left;
  margin: 20px;
  width: 660px;
  
}
.faqs .row p{
  margin-top: 5px;
  color: #a4a4a4;
  
}
.faqs .row h3{
  font-weight: 200;
}

/* BLOG */
.blog{
  background-color: #fdfdfe;
  text-align: center;
}


.blog-col{
  margin: 20px;
  width: 300px;
  display: inline-block;
}
.blog h3{
  margin: 5px;
  text-align: left;

}
.blog #blog-p{
  margin: 5px;
  font-size: 14px;
  text-align: left;
}
.blog #blog-content{
  text-align: left;
  margin-top: 20px;
  margin-bottom: 30px;
}
.blog-col .blog-link{
  text-align: left;
  margin-bottom: 100px;
}
.blog-col span{
  color: blue;
}
/* FOOTER */

.footer {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    padding: 20px 0;
    
    padding: 4em 0;
    background: #333333;
        
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
  }

  .footer-column {
    width: 25%;
    margin-right: 30px;
  }
  
  .footer-column h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .footer-column ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-column li {
    margin-bottom: 5px;
  }
  
  .footer-column a {
    color: #000;
    font-size: 16px;
    text-decoration: none;
  }
  
  .footer-column a:hover {
    text-decoration: underline;
  }
  
  .social-media-links i {
    font-size: 20px;
    margin-right: 10px;
    margin-right: 20px;
    margin-top: 15px;


  }
  .social-media-links{
    display: flex;
  }
  
  .footer-copyright {
    text-align: center;
    font-size: 16px;
    color: #999;
    padding-top: 200px;
    padding-bottom: 100px;
  }
  

    
  .enter-email{
    border-radius: 40px;
    height: 45px;
    padding: 10px;
    border-top-right-radius: 0px ;
    border-end-end-radius: 0px;
    border: 1px solid #fff;
    background-color: #333333;

  }
  .email-send{
    margin-right: -30px;
    margin-left: -6px;
    height: 45px;
    width: 100px;
    background-color: #fff;
    border-top-right-radius: 40px ;
    border-bottom-right-radius: 40px;

    font-size: 16px;

  }

  .footer p {
    color: #737373;
  }
  
  
  .footer h3 {
    color: #fff;
  }
  
  .footer a {
    color: #999999;
  }
  
  .footer a:hover {
    color: white;
  }
  
  .footer ul li {
    margin-bottom: 10px;
  }
  
  .footer .footer-heading {
    font-size: 16px;
    color: #fff;
  } */
  /* Footer */
